p a:not(.btn), li a, h3 a {
	color:#87c656 !important;
}

body {
	padding-top: 70px;
}

span.error {
	font-size: 90%;
	font-style: italic;
	font-weight: bold;
	color: red;
}

@media (max-width: 768px) {
	.col-sm-3 .logoribbon
	{
		display:none;
	}
	.search-bar
	{
		display: none;
	}

	.navbar-brand
	{
		display: inline-block;
	}

	.nav:before
	{
		display: none;
	}

	.navbar-header
	{
		float:left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 .logoribbon
	{
		z-index:9999;
		position:relative;
		top:-70px;
		margin-left:50px;
		width:75%
	}

	.navbar-brand{
		display:none;
	}
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

.left-part {
	float:right !important;
}

.search-bar {
	float:right;
	margin-top: 15px;
	width: 250px;
	background-position: right center;
	background-size: 20px;
	background-repeat: no-repeat;
	background-image: url('/assets/img/loupe.png');
}

.btn-green{
	background-color: #87c656;
	border:1px solid #479616;
	color:#eff0ef;
}

.btn-green:hover{
	color:#175717;
}

.green-heading {
	background-color:#87c656;
	color:white;
	font-weight:bold;
	text-align:center;
}

.nav li{
	display: inline-block !important;
}

.list-group-item ul {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0);
}

